<div class="clocks-grid">
  <div class="clock-container" *ngFor="let clock of clocks">

    <div class="analog-clock" [style.border-color]="clock.borderColor">
      <div class="clock-face">
        <div class="marker hour-marker"
             *ngFor="let marker of [0,1,2,3,4,5,6,7,8,9,10,11]"
             [style.background-color]="clock.markerColor"
             [style.transform]="'rotate(' + (marker * 30) + 'deg)'">
        </div>

        <div class="marker minute-marker"
             *ngFor="let marker of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59]"
             [style.background-color]="clock.markerColor"
             [style.transform]="'rotate(' + (marker * 6) + 'deg)'"
             [style.opacity]="marker % 5 === 0 ? '0' : '0.5'">
        </div>

        <div class="number"
             *ngFor="let num of [12,1,2,3,4,5,6,7,8,9,10,11]"
             [style.color]="clock.analogNumbersColor"
             [style.transform]="'rotate(' + (num * 30) + 'deg) translate(0, -85px) rotate(-' + (num * 30) + 'deg)'">
          {{num}}
        </div>

        <div class="hand hour-hand"
             [style.background-color]="clock.handColor"
             [style.transform]="getHourTransform(clock)">
        </div>
        <div class="hand minute-hand"
             [style.background-color]="clock.handColor"
             [style.transform]="getMinuteTransform(clock)">
        </div>
        <div class="hand second-hand"
             [style.background-color]="clock.handColor"
             [style.transform]="getSecondTransform(clock)">
        </div>

        <div class="center-dot" [style.background-color]="clock.handColor"></div>
      </div>
    </div>

    <div class="digital-clock" [style.color]="clock.digitalNumbersColor">
      {{formatTime(clock)}}
    </div>

    <div class="controls">
      <div class="time-controls">
        <button mat-icon-button (click)="decrementMinutes(clock)" title="Decrease minutes">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <span class="control-label">Min</span>
        <button mat-icon-button (click)="incrementMinutes(clock)" title="Increase minutes">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>

      <div class="time-controls">
        <button mat-icon-button (click)="decrementSeconds(clock)" title="Decrease seconds">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <span class="control-label">Sec</span>
        <button mat-icon-button (click)="incrementSeconds(clock)" title="Increase seconds">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>

      <div class="action-controls">
        <button mat-mini-fab color="primary" (click)="editClock(clock)" title="Edit clock">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteClock(clock)" title="Delete clock">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="empty-state" *ngIf="clocks.length === 0">
  <mat-icon>access_time</mat-icon>
  <h3>No clocks added yet</h3>
  <p>Add your first clock using the form above!</p>
</div>
